openapi: 3.0.3
info:
  title: Joule API
  description: |
    Programmatic access to Joule workflows.

    Joule lets you describe workflows in natural language and get code that runs.
    Use this API to manage and execute workflows programmatically.

    ## Limitations

    - **Request body size**: Maximum 4MB per request
    - **Rate limiting**: 100 requests per minute per API key
    - **Pagination**: List endpoints return up to 100 items per request
    - **Execution timeout**: Workflows have a maximum execution time of 15 minutes
    - **Concurrent executions**: Maximum 10 concurrent executions per workflow
  version: 1.0.0
servers:
  - url: https://script.so/api/v1
    description: Production
security:
  - BearerAuth: []
tags:
  - name: Workflows
    description: Manage workflows
  - name: Executions
    description: Run workflows and retrieve results
paths:
  /workflows:
    get:
      tags:
        - Workflows
      summary: List workflows
      description: Retrieve all workflows for your account
      operationId: listWorkflows
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return (1-100)
          schema: &ref_5
            type: number
            minimum: 1
            maximum: 100
            default: 100
            description: Maximum number of workflows to return (1-100)
        - name: cursor
          in: query
          required: false
          description: Pagination cursor (created_at timestamp from previous response). Must be URL-encoded.
          schema: &ref_6
            type: string
            format: date-time
            description: Pagination cursor (created_at timestamp from previous response). Must be URL-encoded.
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                type: object
                properties: &ref_8
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Unique workflow identifier
                        name:
                          type: string
                          description: Workflow name
                        created_at:
                          type: string
                          format: date-time
                          description: Timestamp when the workflow was created
                        updated_at:
                          type: string
                          format: date-time
                          description: Timestamp when the workflow was last updated
                      required:
                        - id
                        - name
                        - created_at
                        - updated_at
                      additionalProperties: false
                      description: Workflow summary
                    description: List of workflows
                  cursor:
                    type: string
                    format: date-time
                    nullable: true
                    description: Cursor for the next page. Null if no more results.
                required: &ref_9
                  - data
                  - cursor
                additionalProperties: false
                description: Paginated list of workflows
        '401':
          description: Unauthorized - invalid or missing API key
          content: &ref_0
            application/json:
              schema:
                type: object
                properties: &ref_1
                  error:
                    type: string
                    description: Human-readable error message describing what went wrong
                required: &ref_2
                  - error
                additionalProperties: false
                description: Standard error response returned when an API request fails
  /workflows/{workflowId}:
    get:
      tags:
        - Workflows
      summary: Get workflow
      description: Retrieve a single workflow and its details
      operationId: getWorkflow
      parameters:
        - name: workflowId
          in: path
          required: true
          description: Workflow ID
          schema: &ref_3
            type: string
            format: uuid
      responses:
        '200':
          description: Workflow details
          content:
            application/json:
              schema:
                type: object
                properties: &ref_10
                  id:
                    type: string
                    format: uuid
                    description: Unique workflow identifier
                  name:
                    type: string
                    description: Workflow name
                  description:
                    type: string
                    description: Workflow description
                  created_at:
                    type: string
                    format: date-time
                    description: Timestamp when the workflow was created
                  updated_at:
                    type: string
                    format: date-time
                    description: Timestamp when the workflow was last updated
                  input_schema:
                    nullable: true
                    description: JSON Schema defining the expected input format for workflow execution. Null if no input required.
                required: &ref_11
                  - id
                  - name
                  - description
                  - created_at
                  - updated_at
                additionalProperties: false
                description: Detailed workflow information
        '401':
          description: Unauthorized - invalid or missing API key
          content: *ref_0
        '404':
          description: Not found - resource doesn't exist
          content: &ref_4
            application/json:
              schema:
                type: object
                properties: *ref_1
                required: *ref_2
                additionalProperties: false
                description: Standard error response returned when an API request fails
  /workflows/{workflowId}/executions:
    post:
      tags:
        - Executions
      summary: Create execution
      description: Execute a workflow. Returns immediately with an execution ID.
      operationId: createExecution
      parameters:
        - name: workflowId
          in: path
          required: true
          description: Workflow ID
          schema: *ref_3
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: &ref_12
                input:
                  type: object
                  additionalProperties: {}
                  description: Input data for the workflow execution. Must match the workflow's input_schema if defined.
              additionalProperties: false
              description: Request body for creating a new workflow execution
      responses:
        '200':
          description: Execution created
          content:
            application/json:
              schema:
                type: object
                properties: &ref_13
                  execution_id:
                    type: string
                    format: uuid
                    description: Unique identifier for the created execution
                  workflow_id:
                    type: string
                    format: uuid
                    description: ID of the workflow being executed
                  status:
                    type: string
                    enum:
                      - initial
                      - processing
                      - human_in_the_loop
                      - finished
                      - error
                    description: Current execution status
                  created_at:
                    type: string
                    format: date-time
                    description: Timestamp when the execution was created
                required: &ref_14
                  - execution_id
                  - workflow_id
                  - status
                  - created_at
                additionalProperties: false
                description: Response after successfully creating a workflow execution
        '401':
          description: Unauthorized - invalid or missing API key
          content: *ref_0
        '404':
          description: Not found - resource doesn't exist
          content: *ref_4
    get:
      tags:
        - Executions
      summary: List executions
      description: Retrieve all executions for a workflow
      operationId: listExecutions
      parameters:
        - name: workflowId
          in: path
          required: true
          description: Workflow ID
          schema: *ref_3
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return (1-100)
          schema: *ref_5
        - name: cursor
          in: query
          required: false
          description: Pagination cursor (created_at timestamp from previous response). Must be URL-encoded.
          schema: *ref_6
      responses:
        '200':
          description: List of executions
          content:
            application/json:
              schema:
                type: object
                properties: &ref_15
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Unique execution identifier
                        workflow_id:
                          type: string
                          format: uuid
                          description: ID of the workflow being executed
                        status:
                          type: string
                          enum:
                            - initial
                            - processing
                            - human_in_the_loop
                            - finished
                            - error
                          description: Current execution status
                        created_at:
                          type: string
                          format: date-time
                          description: Timestamp when the execution was created
                      required:
                        - id
                        - workflow_id
                        - status
                        - created_at
                      additionalProperties: false
                      description: Summary of a workflow execution
                    description: List of workflow executions
                  cursor:
                    type: string
                    format: date-time
                    nullable: true
                    description: Cursor for the next page. Null if no more results.
                required: &ref_16
                  - data
                  - cursor
                additionalProperties: false
                description: Paginated list of workflow executions
        '401':
          description: Unauthorized - invalid or missing API key
          content: *ref_0
        '404':
          description: Not found - resource doesn't exist
          content: *ref_4
  /workflows/{workflowId}/executions/batch:
    post:
      tags:
        - Executions
      summary: Create batch execution
      description: |
        Execute a workflow multiple times with different inputs in a single request.
        Returns immediately with execution IDs for each item.
      operationId: createBatchExecution
      parameters:
        - name: workflowId
          in: path
          required: true
          description: Workflow ID
          schema: *ref_3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: &ref_17
                items:
                  type: array
                  items:
                    type: object
                    additionalProperties: {}
                  minItems: 1
                  maxItems: 10000
                  description: Array of input objects for each workflow execution
                concurrency:
                  type: string
                  enum:
                    - low
                    - medium
                    - high
                  description: Concurrency level for parallel executions. low=1, medium=5, high=15. Defaults to the workflow's configured concurrency level.
              required: &ref_18
                - items
              additionalProperties: false
              description: Request body for batch workflow execution
      responses:
        '200':
          description: Batch execution created
          content:
            application/json:
              schema:
                type: object
                properties: &ref_19
                  workflow_id:
                    type: string
                    format: uuid
                    description: ID of the workflow being executed
                  total:
                    type: integer
                    minimum: 0
                    description: Total number of items in the batch
                  executions:
                    type: array
                    items:
                      type: object
                      properties:
                        execution_id:
                          type: string
                          format: uuid
                          description: Unique identifier for the execution
                        index:
                          type: integer
                          minimum: 0
                          description: Index of the item in the input array
                      required:
                        - execution_id
                        - index
                      additionalProperties: false
                    description: Details of each execution
                required: &ref_20
                  - workflow_id
                  - total
                  - executions
                additionalProperties: false
                description: Response after batch execution request
        '401':
          description: Unauthorized - invalid or missing API key
          content: *ref_0
        '404':
          description: Not found - resource doesn't exist
          content: *ref_4
  /workflows/{workflowId}/executions/{executionId}:
    get:
      tags:
        - Executions
      summary: Get execution
      description: Retrieve the status and details of an execution
      operationId: getExecution
      parameters:
        - name: workflowId
          in: path
          required: true
          description: Workflow ID
          schema: *ref_3
        - name: executionId
          in: path
          required: true
          description: Execution ID
          schema: &ref_7
            type: string
            format: uuid
      responses:
        '200':
          description: Execution details
          content:
            application/json:
              schema:
                type: object
                properties: &ref_21
                  id:
                    type: string
                    format: uuid
                    description: Unique execution identifier
                  workflow_id:
                    type: string
                    format: uuid
                    description: ID of the workflow being executed
                  status:
                    type: string
                    enum:
                      - initial
                      - processing
                      - human_in_the_loop
                      - finished
                      - error
                    description: Current execution status
                  created_at:
                    type: string
                    format: date-time
                    description: Timestamp when the execution was created
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        filename:
                          type: string
                          description: Name of the output file (e.g., 'result.json', 'report.csv', 'dashboard.html')
                        url:
                          type: string
                          format: uri
                          description: Presigned URL to download the file (expires in 1 hour)
                      required:
                        - filename
                        - url
                      additionalProperties: false
                    nullable: true
                    description: Output files from the workflow's last step. Null if execution is not finished.
                required: &ref_22
                  - id
                  - workflow_id
                  - status
                  - created_at
                  - results
                additionalProperties: false
                description: Detailed workflow execution information
        '401':
          description: Unauthorized - invalid or missing API key
          content: *ref_0
        '404':
          description: Not found - resource doesn't exist
          content: *ref_4
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key authentication. Get your key from Settings → API Keys.
  parameters:
    WorkflowId:
      name: workflowId
      in: path
      required: true
      description: Workflow ID
      schema: *ref_3
    ExecutionId:
      name: executionId
      in: path
      required: true
      description: Execution ID
      schema: *ref_7
    Limit:
      name: limit
      in: query
      required: false
      description: Maximum number of items to return (1-100)
      schema: *ref_5
    Cursor:
      name: cursor
      in: query
      required: false
      description: Pagination cursor (created_at timestamp from previous response). Must be URL-encoded.
      schema: *ref_6
  schemas:
    GetWorkflowsResponse:
      type: object
      properties: *ref_8
      required: *ref_9
      additionalProperties: false
      description: Paginated list of workflows
    GetWorkflowDetailResponse:
      type: object
      properties: *ref_10
      required: *ref_11
      additionalProperties: false
      description: Detailed workflow information
    CreateExecutionRequest:
      type: object
      properties: *ref_12
      additionalProperties: false
      description: Request body for creating a new workflow execution
    CreateExecutionResponse:
      type: object
      properties: *ref_13
      required: *ref_14
      additionalProperties: false
      description: Response after successfully creating a workflow execution
    GetExecutionsResponse:
      type: object
      properties: *ref_15
      required: *ref_16
      additionalProperties: false
      description: Paginated list of workflow executions
    BatchExecutionRequest:
      type: object
      properties: *ref_17
      required: *ref_18
      additionalProperties: false
      description: Request body for batch workflow execution
    BatchExecutionResponse:
      type: object
      properties: *ref_19
      required: *ref_20
      additionalProperties: false
      description: Response after batch execution request
    GetExecutionResponse:
      type: object
      properties: *ref_21
      required: *ref_22
      additionalProperties: false
      description: Detailed workflow execution information
    ErrorResponse:
      type: object
      properties: *ref_1
      required: *ref_2
      additionalProperties: false
      description: Standard error response returned when an API request fails
    limit:
      type: number
      minimum: 1
      maximum: 100
      default: 100
      description: Maximum number of workflows to return (1-100)
    cursor:
      type: string
      format: date-time
      description: Pagination cursor (created_at timestamp from previous response). Must be URL-encoded.
    get-workflows-response:
      type: object
      properties: *ref_8
      required: *ref_9
      additionalProperties: false
      description: Paginated list of workflows
    error-response:
      type: object
      properties: *ref_1
      required: *ref_2
      additionalProperties: false
      description: Standard error response returned when an API request fails
    get-workflow-detail-response:
      type: object
      properties: *ref_10
      required: *ref_11
      additionalProperties: false
      description: Detailed workflow information
    get-executions-response:
      type: object
      properties: *ref_15
      required: *ref_16
      additionalProperties: false
      description: Paginated list of workflow executions
    create-execution-request:
      type: object
      properties: *ref_12
      additionalProperties: false
      description: Request body for creating a new workflow execution
    create-execution-response:
      type: object
      properties: *ref_13
      required: *ref_14
      additionalProperties: false
      description: Response after successfully creating a workflow execution
    batch-execution-request:
      type: object
      properties: *ref_17
      required: *ref_18
      additionalProperties: false
      description: Request body for batch workflow execution
    batch-execution-response:
      type: object
      properties: *ref_19
      required: *ref_20
      additionalProperties: false
      description: Response after batch execution request
    get-execution-response:
      type: object
      properties: *ref_21
      required: *ref_22
      additionalProperties: false
      description: Detailed workflow execution information
  responses:
    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content: *ref_0
    NotFound:
      description: Not found - resource doesn't exist
      content: *ref_4
