openapi: 3.0.3
info:
  title: Script API
  description: |
    Programmatic access to Script workflows.

    Script lets you describe workflows in natural language and get code that runs.
    Use this API to create, manage, and execute workflows programmatically.
  version: 1.0.0
  contact:
    email: api@script.so
    url: https://script.so

servers:
  - url: https://script.so/api/v1
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Workflows
    description: Create and manage workflows
  - name: Steps
    description: Add, update, and delete workflow steps
  - name: Executions
    description: Run workflows and retrieve results
  - name: Batches
    description: Batch run workflows with multiple inputs

paths:
  /workflows:
    get:
      tags:
        - Workflows
      summary: List workflows
      description: Retrieve all workflows for your account
      operationId: listWorkflows
      parameters:
        - name: limit
          in: query
          description: Max results (default 20, max 100)
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workflow'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

    post:
      tags:
        - Workflows
      summary: Create workflow
      description: Create a new workflow with one or more steps
      operationId: createWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowRequest'
            example:
              name: Daily Sales Report
              description: Generate and send daily sales summary
              steps:
                - description: Fetch all orders from Shopify created in the last 24 hours
                - description: Calculate total revenue, order count, and average order value
                - description: Send summary to #sales channel on Slack
      responses:
        '201':
          description: Workflow created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /workflows/{workflowId}:
    get:
      tags:
        - Workflows
      summary: Get workflow
      description: Retrieve a single workflow and its current status
      operationId: getWorkflow
      parameters:
        - $ref: '#/components/parameters/WorkflowId'
      responses:
        '200':
          description: Workflow details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /workflows/{workflowId}/steps:
    post:
      tags:
        - Steps
      summary: Add step
      description: Add a new step to an existing workflow
      operationId: addStep
      parameters:
        - $ref: '#/components/parameters/WorkflowId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStepRequest'
            example:
              description: Save the summary to Google Sheets
              position: 3
      responses:
        '201':
          description: Step created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Step'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /workflows/{workflowId}/steps/{stepId}:
    patch:
      tags:
        - Steps
      summary: Update step
      description: Update an existing step's description. Triggers a rebuild of the step's code.
      operationId: updateStep
      parameters:
        - $ref: '#/components/parameters/WorkflowId'
        - $ref: '#/components/parameters/StepId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStepRequest'
            example:
              description: Send summary to #sales and #leadership channels on Slack
      responses:
        '200':
          description: Step updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Step'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Steps
      summary: Delete step
      description: Remove a step from a workflow
      operationId: deleteStep
      parameters:
        - $ref: '#/components/parameters/WorkflowId'
        - $ref: '#/components/parameters/StepId'
      responses:
        '200':
          description: Step deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                    example: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /workflows/{workflowId}/run:
    post:
      tags:
        - Executions
      summary: Run workflow
      description: Execute a workflow. Returns immediately with an execution ID.
      operationId: runWorkflow
      parameters:
        - $ref: '#/components/parameters/WorkflowId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunWorkflowRequest'
            example:
              inputs:
                date_range: last_7_days
                min_order_value: 100
      responses:
        '200':
          description: Execution started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionStarted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /workflows/{workflowId}/batch:
    post:
      tags:
        - Batches
      summary: Batch run
      description: Execute a workflow multiple times with different inputs
      operationId: batchRunWorkflow
      parameters:
        - $ref: '#/components/parameters/WorkflowId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRunRequest'
            example:
              items:
                - company: Acme Corp
                  email: john@acme.com
                - company: Globex
                  email: jane@globex.com
                - company: Initech
                  email: bob@initech.com
              concurrency: 3
      responses:
        '200':
          description: Batch started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /executions/{executionId}:
    get:
      tags:
        - Executions
      summary: Get execution status
      description: Check the status of a running or completed execution
      operationId: getExecution
      parameters:
        - $ref: '#/components/parameters/ExecutionId'
      responses:
        '200':
          description: Execution status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /executions/{executionId}/results:
    get:
      tags:
        - Executions
      summary: Get execution results
      description: Retrieve the output files and data from a completed execution
      operationId: getExecutionResults
      parameters:
        - $ref: '#/components/parameters/ExecutionId'
      responses:
        '200':
          description: Execution results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResults'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /batches/{batchId}:
    get:
      tags:
        - Batches
      summary: Get batch status
      description: Check status of a batch run
      operationId: getBatch
      parameters:
        - $ref: '#/components/parameters/BatchId'
      responses:
        '200':
          description: Batch status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        API key authentication. Get your key from Settings → API Keys.

        Use `sk_live_` prefix for production, `sk_test_` for development.

  parameters:
    WorkflowId:
      name: workflowId
      in: path
      required: true
      description: Workflow ID
      schema:
        type: string
        example: wf_xyz789

    StepId:
      name: stepId
      in: path
      required: true
      description: Step ID
      schema:
        type: string
        example: step_1

    ExecutionId:
      name: executionId
      in: path
      required: true
      description: Execution ID
      schema:
        type: string
        example: exec_abc123

    BatchId:
      name: batchId
      in: path
      required: true
      description: Batch ID
      schema:
        type: string
        example: batch_xyz789

  schemas:
    Workflow:
      type: object
      properties:
        id:
          type: string
          example: wf_xyz789
        name:
          type: string
          example: Daily Sales Report
        description:
          type: string
          example: Generate and send daily sales summary
        status:
          type: string
          enum: [building, ready, error]
          description: |
            - `building`: Code generation in progress
            - `ready`: Workflow is ready to run
            - `error`: Build failed
        job_id:
          type: string
          example: job_build_abc123
          description: Build job ID (only present when status is building)
        steps:
          type: array
          items:
            $ref: '#/components/schemas/Step'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Step:
      type: object
      properties:
        id:
          type: string
          example: step_1
        description:
          type: string
          example: Fetch all orders from Shopify created in the last 24 hours
        status:
          type: string
          enum: [pending, building, ready, error]
        position:
          type: integer
          example: 1
        inputs:
          type: array
          items:
            type: string
          example: [orders]
        outputs:
          type: array
          items:
            type: string
          example: [summary]

    CreateWorkflowRequest:
      type: object
      required:
        - name
        - steps
      properties:
        name:
          type: string
          description: Workflow name
        description:
          type: string
          description: Optional description
        steps:
          type: array
          items:
            type: object
            required:
              - description
            properties:
              description:
                type: string
                description: Natural language description of what the step does
              integrations:
                type: array
                items:
                  type: string
                description: Integration hints (e.g., ["gmail", "slack"])

    CreateStepRequest:
      type: object
      required:
        - description
      properties:
        description:
          type: string
          description: Natural language description
        position:
          type: integer
          description: Insert position (default is append to end)

    UpdateStepRequest:
      type: object
      required:
        - description
      properties:
        description:
          type: string
          description: Updated natural language description

    RunWorkflowRequest:
      type: object
      properties:
        inputs:
          type: object
          additionalProperties: true
          description: Input values for parameterized workflows

    BatchRunRequest:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Array of input objects
        concurrency:
          type: integer
          default: 5
          description: Max parallel executions

    ExecutionStarted:
      type: object
      properties:
        execution_id:
          type: string
          example: exec_abc123
        workflow_id:
          type: string
          example: wf_xyz789
        status:
          type: string
          example: running
        started_at:
          type: string
          format: date-time

    Execution:
      type: object
      properties:
        execution_id:
          type: string
          example: exec_abc123
        workflow_id:
          type: string
          example: wf_xyz789
        status:
          type: string
          enum: [pending, running, completed, failed, cancelled]
          description: |
            - `pending`: Queued, not yet started
            - `running`: Currently executing
            - `completed`: Finished successfully
            - `failed`: Execution failed
            - `cancelled`: Manually cancelled
        current_step:
          type: string
          example: step_2
          description: Currently executing step (only when running)
        steps:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
                enum: [pending, running, completed, failed]
              duration_ms:
                type: integer
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        duration_ms:
          type: integer

    ExecutionResults:
      type: object
      properties:
        execution_id:
          type: string
        status:
          type: string
        outputs:
          type: object
          additionalProperties:
            type: object
            properties:
              data:
                type: object
                additionalProperties: true
        files:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: orders.csv
              url:
                type: string
                format: uri
                example: https://files.script.so/exec_abc123/orders.csv
              size_bytes:
                type: integer
                example: 1024
              content_type:
                type: string
                example: text/csv

    Batch:
      type: object
      properties:
        batch_id:
          type: string
          example: batch_xyz789
        workflow_id:
          type: string
          example: wf_xyz789
        status:
          type: string
          enum: [pending, running, completed, failed]
        total:
          type: integer
          example: 3
        completed:
          type: integer
          example: 3
        failed:
          type: integer
          example: 0
        executions:
          type: array
          items:
            type: object
            properties:
              execution_id:
                type: string
              inputs:
                type: object
              status:
                type: string
              duration_ms:
                type: integer
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        total:
          type: integer
          example: 12
        limit:
          type: integer
          example: 20
        offset:
          type: integer
          example: 0

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: validation_error
            message:
              type: string
              example: Step description is required
            field:
              type: string
              example: steps[0].description

  responses:
    BadRequest:
      description: Bad request - invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: unauthorized
              message: Invalid API key

    NotFound:
      description: Not found - resource doesn't exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: not_found
              message: Workflow not found

    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    RateLimited:
      description: Rate limited - too many requests
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per minute
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix timestamp when limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: rate_limited
              message: Too many requests
